@use "../../styles/variables" as var;

.About {
	margin-top: 2rem;
	background: var.$white;
	padding: 2rem;
	border-radius: 1rem;

	display: flex;

	flex-direction: column;
	margin-bottom: 5rem;
	h1,
	h3,
	label {
		color: var.$accent;
	}
	button {
		background: var.$accent;
	}
	p {
		margin-top: 20px;
	}
}
