$main: #000000;
$accent: #ff5e5e;
// $accent: #f57a33;
$white: #ffffff;

// $purple: #7654ff;
// $purple-light: #c8baff;
// $white: #fafaff;
// $roayal: #5271ff;
// $yellow: #ffc56d;
// $green: #7ed957;
// $green: #00ba4e;
// $blue: #38b6ff;
